body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    background-color: rgb(0, 106, 255);
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 20px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin-top: 20px;
}

section {
    margin-bottom: 30px;
}

h1 {
    color: rgb(0, 149, 255);
}

h2 {
    color: black;
}